{% extends "base.html" %}

{% block title %}Restablece tu contraseña{% endblock %}

{% block content %}
  <h1>Restablece tu contraseña</h1>
  {% if validlink %}
    <p>Por favor, introduzca su nueva contraseña dos veces:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
  {% else %}
    <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se había utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
  {% endif %}
{% endblock %}