{% extends "base.html" %}
{% block title %}Panel de Control{% endblock %}
{% block content %}

  <h1>Panel de Control</h1>
  {% with total_images_created=request.user.images_created.count %}
    <p>Bienvenido a tu panel de control. Hasta el día de hoy tienes {{ total_images_created }} Publicacione{{ total_images_created|pluralize }}.</p>
  {% endwith %}
  <p>Arrastre el siguiente botón a la barra de herramientas de marcadores para copiar imágenes de otros sitios web → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Bookmark it</a></p>
  <p>Aquí puedes <a href="{% url "edit" %}">editar tu perfil</a> o <a href="{% url "password_change" %}">cambiar tu contraseña</a>.</p>
  
  <h2>Actividad Reciente</h2>
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/detail.html" %}
    {% endfor %}
  </div>

  {% endblock %}